services:
    order-service-jpa:
        container_name: order-service-jpa
        build: ./
        environment:
            - OTEL_SERVICE_NAME=order-service-jpa
            - OTEL_METRICS_EXPORTER=console
            - OTEL_TRACES_EXPORTER=otlp
            - OTEL_LOGS_EXPORTER=console
        ports: 
            - "8080:8080"
        depends_on:
            - postgres
            - jaeger
    
    
    jaeger:
        container_name: jaeger
        image: jaegertracing/all-in-one:latest
        environment:
            - COLLECTOR_OTLP_ENABLED=true
        ports:
            - "16686:16686"
            - "4318:4318"

    postgres:
        container_name: postgres
        image: postgres:latest
        restart: always
        environment:
          - POSTGRES_DB=opentelementry
          - POSTGRES_PASSWORD=secret
          - POSTGRES_USER=myuser
        ports:
          - "5432:5432"
